<nav class="navbar navbar-expand-lg barra">
  <div class="container-fluid">
    <a class="navbar-brand" (click)="login()">BakePlus</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <div class="row">
        <div class="col">
          <div ngbDropdown class="d-inline-block">
            <button
              type="button"
              class="btn"
              id="dropdownBasic1"
              ngbDropdownToggle
            >
              Registros
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button ngbDropdownItem>Usuarios</button>
              <button ngbDropdownItem>Marcas</button>
              <button ngbDropdownItem>Unidades</button>
              <button ngbDropdownItem>Roles</button>
              <button ngbDropdownItem>Ingredientes</button>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div ngbDropdown class="d-inline-block">
            <button
              type="button"
              class="btn"
              id="dropdownBasic1"
              ngbDropdownToggle
            >
              Produccion
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button ngbDropdownItem>Agregar Producto</button>
              <button ngbDropdownItem (click)="formularioReceta()">
                Agregar Receta
              </button>
              <button ngbDropdownItem>Agregar Produccion</button>
              <button ngbDropdownItem (click)="receta()">Ver Recetas</button>
              <button ngbDropdownItem>Roles</button>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div ngbDropdown class="d-inline-block">
            <button
              type="button"
              class="btn"
              id="dropdownBasic1"
              ngbDropdownToggle
            >
              Ventas
            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
              <button ngbDropdownItem>Agregar Venta</button>
              <button ngbDropdownItem>Ver Ventas</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
