<nav class="navbar navbar-expand-lg barra">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">BakePlus</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="btn nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="btn nav-item">
            <a class="nav-link" (click)="receta()">Recetas</a>
          </li>
          <li class=" btn nav-item">
            <a class="nav-link" (click)="login()">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-disabled="true"></a>
          </li>
        </ul>
        <div class="row">
            <div class="col">
                <div ngbDropdown class="d-inline-block">
                    <button type="button" class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
                        Más
                    </button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <button ngbDropdownItem (click)="registro ()" >Registrar</button>
                        <button ngbDropdownItem>Contactanos</button>
                        <button ngbDropdownItem>Acerca de</button>
                    </div>
                </div>
            </div>
    
        </div>
      </div>

      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit" >Search</button>
      </form>

    </div>

  </nav>