<app-header></app-header>
<body class="color-b d-flex justify-content-center align-items-center">
  
  <main class="contenido">
    <h1>{{recetaidpan.nombre_receta}}</h1>
    <div class="imagen_receta">
      
    </div>
    <div class="ingredientes_receta">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Ingredientes</th>
            <th scope="col">Cantidad</th>
          </tr>
        </thead>
        <tbody >
          <tr *ngFor="let id of recetaidpan.receta_ingrediente">
              <th scope="row">{{id.cantidad_ingrediente}}</th>
              <th scope="row">{{id.ingrediente}} - {{id.unidad_medida}}</th>
          </tr>
          
        </tbody>
       
        
       
          
      </table>
    </div>
    
    <div class="informacion_receta">
      <h2>Preparacion de la receta</h2>
      <ul>
        <li>
          {{recetaidpan.descripcion_receta}}
        </li>
      </ul>
    </div>
  </main>
</body>
