
<!-- Footer 6 - Bootstrap Brain Component -->
<footer class="footer">

 

  <!-- Copyright - Bootstrap Brain Component -->
  <div class="bg-dark py-3 py-md-5 border-top border-light-subtle">
    <div class="container overflow-hidden">
      <div class="row">
        <div class="col">
          
          <div class="footer-copyright-wrapper text-center text-light">
            © 2023 Copyright: BakePlus
            
              <a href="#!">
                <img src="./assets/logo_glass.png" alt="BootstrapBrain Logo" class="img-fluid" style="max-width: 110px;">
              </a>
            
          </div>
        </div>
      </div>
    </div>
  </div>

</footer>


