
<!-- Footer -->
<footer class="text-center text-lg-start barra">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">

      <!-- Right -->
      <div>
        <a href="" class="me-4 text-reset">
           
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-google"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-github"></i>
        </a>
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->
  
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mb-3">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3"></i>BakePlus
            </h6>
            <p>
              PROTOTIPO DE APLICATIVO WEB PARA EL CONTROL DE PRODUCTOS E INSUMOS DE LA PANADERÍA CALIPÁN
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
  
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4 " >
            
            <p class="d-flex justify-content-center" ><a href="https://www.facebook.com/"><img src="assets/facebook.png" alt=""  style="height: 1.5rem" ></a> </p>
            <p  class="d-flex justify-content-center"><a href="https://www.instagram.com/"><img src="assets/instagram.png" alt="" style="height: 1.5rem"></a></p>
            <p  class="d-flex justify-content-center"> <a href="https://www.tiktok.com/@reiden_zz/video/7281297427175345413?_r=1&_t=8fsflfiRvjq"><img src="assets/tik-tok.png" alt="" style="height: 1.5rem"></a></p>
            <p  class="d-flex justify-content-center"><a href="https://api.whatsapp.com/send?phone=573003330089&text=%C2%A1Hola!,%20Quiero%20hacer%20un%20pedido"><img src="assets/whatsapp.png" alt="" style="height: 1.5rem"></a></p>
           
            
           
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4 ">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Contacto</h6>
            <p class="fw-bold"><i class="fas fa-home me-3"></i> Barranquilla, Colombia</p>
            <p class="fw-bold">
              <i class="fas fa-envelope me-3"></i>
             bakeplus@gmail.com
            </p>
            <p class="fw-bold"><i class="fas fa-phone me-3"></i> 3023184548</p>
            <p class="fw-bold"><i class="fas fa-print me-3"></i> 3003330089</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2023 Copyright:
      <a class="text-reset fw-bold" href="">BakePlus</a>
    </div>
    <!-- Copyright -->
  </footer>