/* Añade un color de fondo al footer */
.footer-background{
    background-color: #525558;
    color: white; /* Cambia el color del texto si es necesario para que sea visible en el fondo */
    padding: 10px; /* Añade espacio interno al footer */
}
body {
    padding-bottom: 60px; /* Ajusta según la altura del footer */
  }