.color-b{
    background-color: #894E3F ;
}
.carta{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 20px;
    margin-top: 20px;
}
.card{
    margin-top: 4%;
}
.color-boton{
    background-color:#C37960;
    
}