.background-login{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color:#C37960 ;
}
.color-b{
    background-color: #894E3F ; ;
}.text-c{
color: #C37960;
}
.color-boton{
    background-color:#C37960;
    
}