<body class="color-b d-flex justify-content-center align-items-center vh-100">
    <div class="bg-white p-5 rounded-5 text-secondary shadow" style=" width:30rem;">
        <div class="d-flex justify-content-center ">
            <img src="https://cdn-icons-png.flaticon.com/512/2478/2478542.png" alt="registropan-icon" style="height: 7rem;">
        </div>
        <div class="text-center fs-1 fw-bold">Formulario de registro de recetas</div>
        <div class="input-group mt-4">
          <div class="input-group-text color-b">
              <img src="https://cdn-icons-png.flaticon.com/512/88/88670.png" alt="icon" style="height: 1rem;">
          </div>
          <input  class="form-control"type="text" placeholder="Nombre de producto">
      </div>
      <div class="input-group mt-1">
          <div class="input-group-text color-b">
              <img src="https://cdn-icons-png.flaticon.com/512/88/88670.png" alt="icon" style="height: 1rem;">
          </div>
          <input class="form-control" type="" placeholder="Cantidad de agua">
      </div>
        <div class="input-group mt-1">
            <div class="input-group-text color-b">
                <img src="https://cdn-icons-png.flaticon.com/512/88/88670.png" alt="icon" style="height: 1rem;">
            </div>
            <input  class="form-control"type="text" placeholder="Cantidad de Harina">
        </div>
        <div class="input-group mt-1">
            <div class="input-group-text color-b">
                <img src="https://cdn-icons-png.flaticon.com/512/88/88670.png" alt="icon" style="height: 1rem;">
            </div>
            <input class="form-control" type="text" placeholder="Cantidad de levadura">
        </div>
      <div class="input-group mt-1">
          <div class="input-group-text color-b">
              <img src="https://cdn-icons-png.flaticon.com/512/88/88670.png" alt="icon" style="height: 1rem;">
          </div>
          <input class="form-control" type="text" placeholder="Cantidad de Malta">
      </div>
        <div class="input-group mt-1">
          <div class="input-group-text color-b">
              <img src="https://cdn-icons-png.flaticon.com/512/88/88670.png" alt="icon" style="height: 1rem;">
          </div>
          <input  class="form-control"type="text" placeholder="Cantidad Masa previa">
      </div>
      <div class="input-group mt-1">
        <div class="input-group-text color-b">
            <img src="https://cdn-icons-png.flaticon.com/512/88/88670.png" alt="icon" style="height: 1rem;">
        </div>
        <input class="form-control" type="text" placeholder="Cantidad de sal">
    </div>
      
        <div class="btn color-b text-white w-100 mt-4 fw-semibold shadows-semibold" >Registrar</div>
        <div class="d-flex gap-1 justify-content-center mt-1">
            
        </div>
        
        
    </div>
  </body>