.barra{
    background-color: #EEE1BA;
    
}
/* Cambiar el color del texto del enlace del navbar */
.navbar-nav .nav-link {
    color: rgb(0, 0, 0); /* Cambia el color a tu preferencia */
}

/* Cambiar el color del texto del botón del menú */
.btn.btn-outline-primary {
    color: rgb(0, 0, 0); /* Cambia el color a tu preferencia */
}
        /* Añade estilos adicionales según sea necesario */
        .body {
            padding-top: 56px; /* Ajusta el espacio para evitar que el contenido se oculte detrás de la barra de navegación */
        }

        .transparent-navbar {
            background-color: transparent !important; /* Hace que el fondo sea transparente */
        }