<div class="modal">
    <div class="modal-content">
      <h2>Editar Item</h2>
      <form >
        <!-- Aquí muestra los campos editables -->
        <div *ngFor="let campo of campos">
          <label>{{ campo.label }}</label>
          <input type="text" [(ngModel)]="item[campo.propiedad]">
        </div>
        <!-- Botones de guardar y cancelar -->
        <div>
          <button type="submit">Guardar</button>
          <button type="button" >Cancelar</button>
        </div>
      </form>
    </div>
  </div>
  