.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .card-container {
    position: relative;
  }
  
  .card {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 150px;
    margin-bottom: 350px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .floating-card {
    position: absolute;
    top: 50px;
    left: -300px; /* Ajuste para mover la tarjeta flotante más a la izquierda */
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 100px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  