<div class="container">
  <div class="d-flex justify-content-center row">
    <div class="col-md-12">
      <div class="invoice-card shadow-lg rounded">
        <div class="printable-area">
          <div class="invoice-header d-flex justify-content-between align-items-center p-4 bg-primary text-white rounded-top">
            <div class="col-8 ">
              <h2 class="text-uppercase font-weight-bold mb-0">Factura</h2>
              <div><span class="font-weight-bold">Cliente:</span></div>
              <span class="ml-2">{{ venta.nombre_cliente }}</span>
              <div><span class="font-weight-bold">Fecha:</span></div>
              <span class="ml-2">{{ venta.fecha_venta }}</span>
            </div>
            <div class="col-4">
              <img src="assets/logo_glass.png" class="img-fluid " height="128" width="128">
            </div>
          </div>
          <div class="invoice-body p-4">
            <div class="table-responsive col-12">
              <table class="table">
                <thead class="bg-secondary text-white">
                  <tr>
                    <th>Producto</th>
                    <th>Cantidad</th>
                    <th>Precio</th>
                    <th>Total</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let producto of venta.detalleVenta">
                    <td>{{ getNombreProducto(producto.id_producto) }}</td>
                    <td>{{ producto.cantidad_producto }}</td>
                    <td>{{ producto.precio_unitario | currency }}</td>
                    <td>{{ producto.precio_total | currency }}</td>
                  </tr>
                  <tr class="font-weight-bold">
                    <td>
                      <button class="btn btn-success" type="button" data-bs-toggle="modal" data-bs-target="#invoiceModal" [disabled]="isSaved">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                          <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                          <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                        </svg>
                      </button>
                    </td>
                    <td></td>
                    <td class="text-right">Total</td>
                    <td>{{ venta.total_venta | currency }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="invoice-footer text-right p-4 bg-light rounded-bottom text-end">
          <div class="col-12">
            <button class="btn btn-danger col-2 mx-2" type="button"[disabled]="!isSaved">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-filetype-pdf" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M14 4.5V14a2 2 0 0 1-2 2h-1v-1h1a1 1 0 0 0 1-1V4.5h-2A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v9H2V2a2 2 0 0 1 2-2h5.5zM1.6 11.85H0v3.999h.791v-1.342h.803q.43 0 .732-.173.305-.175.463-.474a1.4 1.4 0 0 0 .161-.677q0-.375-.158-.677a1.2 1.2 0 0 0-.46-.477q-.3-.18-.732-.179m.545 1.333a.8.8 0 0 1-.085.38.57.57 0 0 1-.238.241.8.8 0 0 1-.375.082H.788V12.48h.66q.327 0 .512.181.185.183.185.522m1.217-1.333v3.999h1.46q.602 0 .998-.237a1.45 1.45 0 0 0 .595-.689q.196-.45.196-1.084 0-.63-.196-1.075a1.43 1.43 0 0 0-.589-.68q-.396-.234-1.005-.234zm.791.645h.563q.371 0 .609.152a.9.9 0 0 1 .354.454q.118.302.118.753a2.3 2.3 0 0 1-.068.592 1.1 1.1 0 0 1-.196.422.8.8 0 0 1-.334.252 1.3 1.3 0 0 1-.483.082h-.563zm3.743 1.763v1.591h-.79V11.85h2.548v.653H7.896v1.117h1.606v.638z"/>
              </svg>
            </button>
            <button class="btn btn-primary col-2 mx-2" type="button" (click)="imprimir()" [disabled]="!isSaved">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-printer" viewBox="0 0 16 16">
                <path d="M2.5 8a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1"/>
                <path d="M5 1a2 2 0 0 0-2 2v2H2a2 2 0 0 0-2 2v3a2 2 0 0 0 2 2h1v1a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2v-1h1a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2h-1V3a2 2 0 0 0-2-2zM4 3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1v2H4zm1 5a2 2 0 0 0-2 2v1H2a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1h-1v-1a2 2 0 0 0-2-2zm7 2v3a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-3a1 1 0 0 1 1-1h6a1 1 0 0 1 1 1"/>
              </svg>
            </button>
            <button class="btn btn-success col-2 mx-2" type="button" (click)="registrar()" [disabled]="!isProduct">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-floppy2 align-content-center" viewBox="0 0 16 16">
                <path d="M1.5 0h11.586a1.5 1.5 0 0 1 1.06.44l1.415 1.414A1.5 1.5 0 0 1 16 2.914V14.5a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 14.5v-13A1.5 1.5 0 0 1 1.5 0M1 1.5v13a.5.5 0 0 0 .5.5H2v-4.5A1.5 1.5 0 0 1 3.5 9h9a1.5 1.5 0 0 1 1.5 1.5V15h.5a.5.5 0 0 0 .5-.5V2.914a.5.5 0 0 0-.146-.353l-1.415-1.415A.5.5 0 0 0 13.086 1H13v3.5A1.5 1.5 0 0 1 11.5 6h-7A1.5 1.5 0 0 1 3 4.5V1H1.5a.5.5 0 0 0-.5.5m9.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5z"/>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Modal-->
<div class="modal fade" id="invoiceModal" tabindex="-1" aria-labelledby="invoiceModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-primary text-white">
        <h5 class="modal-title" id="invoiceModalLabel">Agregar Información a la Factura</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="addProduct()">
          <!-- Nombre del Cliente -->
          <div class="mb-3">
            <label for="customerName" class="form-label">Nombre del Cliente</label>
            <input type="text" class="form-control" id="nombre_cliente" name="nombre_cliente" [(ngModel)]="venta.nombre_cliente" required>
          </div>
          <!-- Productos -->
          <div class="mb-3">
            <label for="product" class="form-label">Productos</label>
            <table class="table table-hover">
              <thead class="table-secondary">
                <tr>
                  <th>Nombre</th>
                  <th>Cantidad</th>
                  <th>Precio</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let producto of venta.detalleVenta; let i = index">
                  <td><input type="text" class="form-control" placeholder="Nombre del Producto" [(ngModel)]="producto.id_producto" name="productName{{i}}" disabled required></td>
                  <td><input type="number" class="form-control" placeholder="Cantidad" [(ngModel)]="producto.cantidad_producto" name="productQuantity{{i}}" disabled required></td>
                  <td><input type="number" class="form-control" placeholder="Precio" [(ngModel)]="producto.precio_unitario" name="productPrice{{i}}"  disabled required></td>
                  <td><button type="button" class="btn btn-danger" (click)="removeProduct(i)">Eliminar</button></td>
                </tr>
                <tr>
                  <td>
                    <select class="form-select" aria-label="Producto" name="producto" [(ngModel)]="productoSelect" (change)="onChangeProducto($event)">
                      <option selected>Seleccione producto</option>
                      <option *ngFor="let producto of productos">{{ producto.nombre_producto }}</option>
                    </select>
                  </td>
                  <td>
                    <input type="number" class="form-control" name="cantidad_producto" id="cantidad_producto" [(ngModel)]="cantidadProducto">
                  </td>
                  <td>
                    <input type="number" class="form-control" name="precio_producto" id="precio_producto" [value]="precioProducto" disabled>
                  </td>
                  <td>
                    <button type="submit" class="btn btn-primary" [disabled]="!isClient">Agregar</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>  
        </form>
      </div>
    </div>
  </div>
</div>
