.background-login{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color:#894E3F ;
}
.color-b{
    background-color:#894E3F ;
}.text-c{
color: #894E3F;
}

.caja {
    margin: 20px auto;
}
.ingrediente {
   
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 10px;

}