<!--
<body class="color-b d-flex justify-content-center align-items-center vh-100">
 
  <div
    class="bg-white p-5 rounded-5 text-secondary shadow login"
    style="width: 30rem"
  >
    <div class="d-flex justify-content-center">
      <img
        src="assets/logo_full.png"
        alt="login-icon"
        style="height: 7rem; border-radius:50%; margin-bottom:20px;"
      />
    </div>
    <h2 class="text-center fw-bold">INICIAR SESION</h2>
<form [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm.value)">
  <div class="input-group mt-4">
    <div class="input-group-text color-boton">
      <img
        src="assets/usuario.png"
        alt="usernam-icon"
        style="height: 1.5rem"
      />
    </div>
    <input class="form-control" type="text" placeholder="Usuario"  formControlName="usuario"/>
  </div>
  <div class="input-group mt-1">
    <div class="input-group-text color-boton">
      <img
        src="assets/cerrar.png"
        alt="password-icon"
        style="height: 1.5rem; color: white;"
      />
    </div>
    <input class="form-control" type="password" placeholder="Contraseña" formControlName="contraseña" />
  </div>
  

    <div class="">
      
      <input type="submit"  class="text-white shadows-semibold btn color-boton  w-100 mt-4 fw-semibold shadows-semibold" value="INGRESAR" >
    </div>
    </form>
  </div>

</body>
-->
<section class="vh-100 background">
  
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem;">
          <div class="row g-0">
            <div class="col-md-6 col-lg-5 d-none d-md-block">
              <img src="assets/pan_login.jpg"
                alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
            </div>
            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">

                <form [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm.value)">
                  <!---Logo-->
                  <div class="text-center">
                    <img src="assets/logo_glass.png" alt="login-icon" class="img-fluid" style="max-width: 210px;">
                  </div>

                  <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Ingresa con tu cuenta:</h5>
                  <!---Usuario-->
                  <div class="form-outline mb-4">
                    <input type="email" formControlName="usuario" class="form-control form-control-lg" />
                    <label class="form-label" >Usuario</label>
                  </div>
                  <!---Contraseña-->
                  <div class="form-outline mb-4">
                    <input type="password" formControlName="contraseña" class="form-control form-control-lg" />
                    <label class="form-label" >Contraseña</label>
                  </div>
                  <!---Iniciar sesion-->
                  <div class="pt-1 mb-4">
                    <button class="btn btn-warning btn-lg btn-block custom-btn" type="button">Iniciar sesión</button>
                  </div>
                  <a class="small text-muted" href="#!">Olvide mi contraseña</a>
                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
