<app-header></app-header>
<body class="color-b d-flex justify-content-center align-items-center">
  <div class="bg-white p-5 rounded-5 text-secondary shadow caja" style="width: 30rem">
      <div class="d-flex justify-content-center">
          <img src="assets/pan.png" alt="registropan-icon" style="height: 7rem" />
      </div>

      <div class="text-center fs-1 fw-bold">
          Recetas
      </div>
      <form >

        

          
         

          <div class="d-flex gap-1 justify-content-center mt-1"></div>
      </form>
      <table class="table table-bordered mt-4">
          <thead >
            <tr>
             
              <th scope="col">ID</th>
              <th scope="col">Nombre</th>
         
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let receta of recetas">
              <th scope="row">{{receta[0]}}</th>
           
              <td>{{receta[1]}}</td>
              <td><button class="btn btn-primary" [routerLink]="['/descripcion', receta[0]]">Ver receta</button></td>
            </tr>
           
            
          </tbody>
        </table>
        <input
        type="button"
        class="text-white shadows-semibold btn color-boton w-100 mt-4 fw-semibold shadows-semibold color-b"
        value="Salir" (click)="salir()"
      />
        
  </div>
</body>