<app-header></app-header>


<section class="vh-100 background">
  <div class="container py-6 h-100 ">
    <br>
    <div class="row d-flex justify-content-center align-items-center h-100 prueba">
      <div class="col col-xl-7">
        <div class="card" style="border-radius: 1rem;">
          <div class="row g-0">
            <div class="col-md-5 col-lg-5 d-none d-md-block">
              <img src="assets/marcas-nn.jpeg" alt="reform" class="img-fluid"
                style="border-radius: 1rem 0 0 1rem; height: 100%;" />
            </div>
            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">

                <form [formGroup]="nuevoMarca" (ngSubmit)="postMarca(nuevoMarca.value)">
                  <!---Logo-->
                  <div class="text-center">
                    <img src="assets/etiqueta.png" alt="login-icon" height="120" width="120" class="img-fluid"
                      style="max-width:210px;">
                  </div>
                  <br><br>
                  <h5 class="text-center fs-1 fw-bold" style="letter-spacing: 1px;">Registro de marcas:</h5>

                  <div class="row">
                  
                    <div class="col-md-10 ">
                      <!---Marca-->
                      <div class="form-outline mb-4">
                        <input type="text" placeholder="Nombre de la marca" formControlName="nombre_marca"
                          class="form-control form-control-lg" />
                      </div>
                      <div class="form-outline mb-4">
                        <button class="text-black  btn  fw-semibold w-100 mt-4  custom-btn " type="submit" value="Registrar">Registrar</button>
                      </div>
                      <div class="form-outline mb-4">
                        <input
                    type="button"
                      class="text-black  btn  fw-semibold w-100 mt-4  custom-btn"
                     value="Salir" (click)="salir()"
                           />
                      </div>
                     
                    

                    </div>
                  </div>
                </form> 
                
                
              </div>
            </div>
          </div>
        </div>
      </div>
      <table class="table table-bordered mt-4">
        <thead>
          <tr>
           
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
       
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let marca of marcas">
            <th scope="row">{{marca[0]}}</th>
         
            <td>{{marca[1]}}</td>
           
          </tr>
         
          
        </tbody>
      </table>
    </div>
  </div>
</section>