<div class="background">
  <section class="vh-100">
    <div class="container py-6 h-100">
      <div class="card" style="border-radius: 1rem"></div>
      <div class="row d-flex justify-content-center align-items-center h-100 ">
        <div class="card" style="border-radius: 1rem">
          <div class="row g-0">
            <div class="iframe-container">
              <iframe 
                src="https://lookerstudio.google.com/embed/reporting/480465be-8d4b-447d-a5ba-cd54dabb20a0/page/DMSxD"
                frameborder="0" allowfullscreen
                sandbox="allow-storage-access-by-user-activation allow-scripts allow-same-origin allow-popups allow-popups-to-escape-sandbox"></iframe>
            </div>
          </div>
        </div>

      </div>

    </div>

  </section>
</div>