<app-header></app-header>


<section class="vh-100 background">
  <div class="container py-5 h-100">
    <br>
    <div class="row d-flex justify-content-center align-items-center h-100 prueba">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem;">
          <div class="row g-0">
            <div class="col-md-5 col-lg-5 d-none d-md-block">
              <img src="assets/registro.jpg" alt="reform" class="img-fluid"
                style="border-radius: 1rem 0 0 1rem; height: 100%;" />
            </div>
            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">
                <form [formGroup]="nuevoForm" (ngSubmit)="postForm(nuevoForm.value)">
                  <!---Logo-->
                  <div class="text-center">
                    <img src="assets/register.png" alt="login-icon" height="120" width="120" class="img-fluid" style="max-width: 210px;">
                  </div>
                  <br><br>
                  <h5 class="text-center fs-1 fw-bold" style="letter-spacing: 1px;">Registro de usuario:</h5>
                
                  <div class="row">
                    <div class="col-md-6">
                      <!---TipoDoc-->
                      <div class="form-outline mb-4">
                        <select formControlName="id_tipo_documento" class="form-select form-select-lg">
                          <option value="">Tipo de documento</option>
                          <option *ngFor="let tipoDoc of tipoDocs" [value]="tipoDoc.id">{{ tipoDoc.nombre }}</option>
                        </select>
                      </div>  
                      <!---Nombre-->
                      <div class="form-outline mb-4 ">
                        <input type="text" type="text" placeholder="Nombre" formControlName="nombre_usuario" class="form-control form-control-lg" />
                        <div class="text-danger mt-1" *ngIf="nuevoForm.get('nombre_usuario')?.invalid">
                          Nombre es requerido!
                        </div>
                      </div>
                
                      <!---Telefono-->
                      <div class="form-outline mb-4">
                        <input type="number" placeholder="Telefono" formControlName="telefono_usuario" class="form-control form-control-lg" />
                        <div class="text-danger mt-1" *ngIf="nuevoForm.get('telefono_usuario')?.invalid && (nuevoForm.get('telefono_usuario')?.dirty || nuevoForm.get('telefono_usuario')?.touched)">
                          Teléfono es requerido!
                        </div>
                      </div>
                      <!---password-->
                      <div class="form-outline mb-4">
                        <input type="password" placeholder="Contraseña" formControlName="password_usuario" class="form-control form-control-lg" />
                        <div class="text-danger mt-1" *ngIf="nuevoForm.get('password_usuario')?.invalid && (nuevoForm.get('password_usuario')?.dirty || nuevoForm.get('password_usuario')?.touched)">
                          Contraseña es requerida!
                        </div>
                      </div>
                      <!---Rol-->
                      <div class="form-outline mb-4">
                        <select formControlName="id_tipo_documento" class="form-select form-select-lg">
                          <option value="">Selecciona un rol</option>
                          <option *ngFor="let rol of roles" [value]="rol.id">{{ rol.nombre }}</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <!---Documento-->
                      <div class="form-outline mb-4" [ngClass]="{ 'has-error': nuevoForm.get('doc_usuario')?.invalid && (nuevoForm.get('doc_usuario')?.dirty || nuevoForm.get('doc_usuario')?.touched) }">
                        <input type="number" placeholder="Documento" formControlName="doc_usuario" class="form-control form-control-lg" [ngClass]="{ 'is-invalid': nuevoForm.get('doc_usuario')?.invalid && (nuevoForm.get('doc_usuario')?.dirty || nuevoForm.get('doc_usuario')?.touched) }" />
                        <div class="text-danger mt-1" *ngIf="nuevoForm.get('doc_usuario')?.invalid">
                          Documento es requerido y debe ser de al menos 6 caracteres de longitud.
                        </div>
                      </div>
                      
                      <!---Apellido-->
                      <div class="form-outline mb-4" [ngClass]="{ 'has-error': validateApellido() }" >
                        <input type="text" placeholder="Apellido" formControlName="apellido_usuario" class="form-control form-control-lg" [ngClass]="{ 'is-invalid': validateApellido() }"/>
                        <div class="text-danger mt-1" style="width: 300px; height: 0.1px;" *ngIf="validateApellido()">
                          <p class="fs-6">Error apellido no valido</p>
                        </div>
                      </div>
                
                      <!---Email-->
                      <div class="form-outline mb-4" [ngClass]="{ 'has-error': validateEmail() }">
                        <input type="text" placeholder="Email" formControlName="email_usuario" class="form-control form-control-lg" [ngClass]="{ 'is-invalid': validateEmail() }" />
                        <div class="text-danger mt-1" style="width: 300px; height: 0.1px;" *ngIf="validateEmail()">
                          <p class="fs-6">Email ingresado no es válido!</p>
                        </div>
                      </div>                      
                      
                      <!--- confirmar password-->
                      <div class="form-outline mb-4">
                        <input type="password" placeholder="Confirmar Contraseña" formControlName="password_usuario" class="form-control form-control-lg" />
                        <div class="text-danger mt-1" *ngIf="nuevoForm.get('password_usuario')?.invalid && (nuevoForm.get('password_usuario')?.dirty || nuevoForm.get('password_usuario')?.touched)">
                          Confirmar Contraseña es requerido!
                        </div>
                      </div>
                      <!---Registrar-->
                      <div class="form-outline mb-4">
                        <button class="text-black  btn  fw-semibold w-100 mt-4  custom-btn" type="submit">Registrar</button>
                      </div>
                      <div class="form-outline mb-4 ">
                        <input type="button" class="text-black  btn  w-100  fw-semibold  custom-btn" value="Salir" (click)="salir()" />
                      </div>
                    </div>
                  </div>
                </form>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>