<app-header></app-header>
<body class="color-b d-flex justify-content-center align-items-center">
  <div
    class="bg-white p-5 rounded-5 text-secondary shadow caja"
    style="width: 50rem"
  >
    <div class="d-flex justify-content-center">
      <img
        src="https://cdn-icons-png.flaticon.com/512/2478/2478542.png"
        alt="registropan-icon"
        style="height: 7rem"
      />
    </div>

    <div class="text-center fs-1 fw-bold">
      Formulario de registro de recetas
    </div>
    <form
      [formGroup]="nuevoFormReceta"
      (ngSubmit)="postForm(nuevoFormReceta.value)"
    >
    <div class="input-group mb-3 mt-4">
      <input
        type="text"
        class="form-control"
        placeholder="Nombre de receta"
        
        formControlName="nombre_receta"
      />
      <div class="input-group-text color-b">
        <img
          src="https://cdn-icons-png.flaticon.com/512/88/88670.png"
          alt="icon"
          style="height: 1rem"
        />
      </div>
      <input
        type="number"
        class="form-control"
        placeholder="Cantidad de receta"
        
        formControlName="cantidad_receta"
      />
    </div>
      <div class="input-group mt-3">
        <div class="input-group-text color-b">
          <img
            src="https://cdn-icons-png.flaticon.com/512/88/88670.png"
            alt="icon"
            style="height: 1rem"
          />
        </div>
        <textarea
          class="form-control"
          placeholder="Descripcion de la receta"
          id="floatingTextarea2"
          style="height: 100px"
          formControlName="descripcion_receta"
        ></textarea>
      </div>
      <div class="mb-3 mt-4 ingrediente">
        <select
          class="form-select"
          id="ingrediente"
          aria-label="Floating label select example"
        >
          <option selected></option>
          <option value="Harina">Harina</option>
          <option value="Huevo">Huevo</option>
          <option value="Levadura">Levadura</option>
          <option value="Malta">Malta</option>
          <option value=">Masa previa">Masa previa</option>
          <option value="Sal">Sal</option>
          <option value="Agua">Agua</option>
        </select>

        <input
          class="form-control"
          type="number"
          placeholder="Cantidad de ingrediente"
        />

        <select
          class="form-select"
          id="unidad"
          aria-label="Floating label select example"
        >
          <option selected>Unidad</option>
          <option value="Kg">Kg</option>
          <option value="Gr">gr</option>
          <option value="Lt">Litros</option>
          <option value="ml">Mililitros</option>
          <option value="cc">Centimetros cubicos</option>
        </select>

        <div class="btn color-b text-white fw-semibold shadows-semibold">
          Agregar
        </div>
      </div>

      <div class="ingredientes_receta">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Ingredientes</th>
              <th scope="col">Cantidad</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td></td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>

      <div>
        <input
          type="submit"
          class="btn color-b text-white w-100 mt-4 fw-semibold shadows-semibold"
          value="Registrar"
        />
        <input
          type="button"
          class="text-white shadows-semibold btn color-boton w-100 mt-4 fw-semibold shadows-semibold color-b"
          value="Salir"
          (click)="salir()"
        />
      </div>

      <div class="d-flex gap-1 justify-content-center mt-1"></div>
    </form>
  </div>
</body>
