<div class="container">
  <div class="row m-0">
    <div class="col-md-6 col-10">
      <div class="row col-10">
        <div class="col-12 mb-4">
          <div class="row box-right">
            <div class="col-md-8 ps-0 ">
              <p class="ps-3 textmuted fw-bold h6 mb-0">TOTAL VENTAS</p>
              <p class="h1 fw-bold d-flex"> <span
                  class=" fas fa-dollar-sign textmuted pe-1 h6 align-text-top mt-1"></span>500.000</p>
              <p class="ms-3 px-2 bg-green">+10% que el mes pasado</p>
            </div>
            <div class="col-md-4">
              <p class="p-blue"> <span class="fas fa-circle pe-2"></span>Ventas hoy </p>
              <p class="fw-bold mb-3"><span class="fas fa-dollar-sign pe-1"></span>70.000</p>
              <p class="p-org"><span class="fas fa-circle pe-2"></span># ventas</p>
              <p class="fw-bold"><span class="fas fa-dollar-sign pe-1"></span>38<span class="textmuted">.00</span></p>
            </div>
          </div>
        </div>
        <div class="scrollable-list">
          <div class="list-group">
            <div class="col-12 px-0 mb-4">
              <div class="box-right">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">Eder Melo Gonzalez</h5>
                  <small>3 days ago</small>
                </div>
                <div class="bg-blue p-2">
                  <p class="amount mb-0">Factura #3</p>
                  <p class="h5 fw-bold d-flex"> <span
                      class=" fas fa-dollar-sign textmuted pe-1 h6 align-text-top mt-1"></span>20.000</p>
                </div>
                <div class="text-end">
                  <button class="btn btn-primary btn-sm text-center align-content-center ">Ver factura</button>
                </div>
              </div>
            </div>
            <div class="col-12 px-0 mb-4">
              <div class="box-right">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">Eder Melo Gonzalez</h5>
                  <small>3 days ago</small>
                </div>
                <div class="bg-blue p-2">
                  <p class="amount mb-0">Factura #3</p>
                  <p class="h5 fw-bold d-flex"> <span
                      class=" fas fa-dollar-sign textmuted pe-1 h6 align-text-top mt-1"></span>20.000</p>
                </div>
                <div class="text-end">
                  <button class="btn btn-primary btn-sm text-center align-content-center ">Ver factura</button>
                </div>
              </div>
            </div>
            <div class="col-12 px-0 mb-4">
              <div class="box-right">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">Eder Melo Gonzalez</h5>
                  <small>3 days ago</small>
                </div>
                <div class="bg-blue p-2">
                  <p class="amount mb-0">Factura #3</p>
                  <p class="h5 fw-bold d-flex"> <span
                      class=" fas fa-dollar-sign textmuted pe-1 h6 align-text-top mt-1"></span>20.000</p>
                </div>
                <div class="text-end">
                  <button class="btn btn-primary btn-sm text-center align-content-center ">Ver factura</button>
                </div>
              </div>
            </div>
            <div class="col-12 px-0 mb-4">
              <div class="box-right">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">Eder Melo Gonzalez</h5>
                  <small>3 days ago</small>
                </div>
                <div class="bg-blue p-2">
                  <p class="amount mb-0">Factura #3</p>
                  <p class="h5 fw-bold d-flex"> <span
                      class=" fas fa-dollar-sign textmuted pe-1 h6 align-text-top mt-1"></span>20.000</p>
                </div>
                <div class="text-end">
                  <button class="btn btn-primary btn-sm text-center align-content-center ">Ver factura</button>
                </div>
              </div>
            </div>
            <div class="col-12 px-0 mb-4">
              <div class="box-right">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">Eder Melo Gonzalez</h5>
                  <small>3 days ago</small>
                </div>
                <div class="bg-blue p-2">
                  <p class="amount mb-0">Factura #3</p>
                  <p class="h5 fw-bold d-flex"> <span
                      class=" fas fa-dollar-sign textmuted pe-1 h6 align-text-top mt-1"></span>20.000</p>
                </div>
                <div class="text-end">
                  <button class="btn btn-primary btn-sm text-center align-content-center ">Ver factura</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-12 ps-md-6 p-0 ">
      <div class="box-left">
        <div class="printable-area">
          <div
            class="invoice-header d-flex justify-content-between align-items-center p-4 bg-primary text-white rounded-top">
            <div class="col-8 ">
              <h2 class="text-uppercase font-weight-bold mb-0">Factura</h2>
              <div><span class="font-weight-bold">Cliente:</span></div>
              <span class="ml-2">{{ venta.nombre_cliente }}</span>
              <div><span class="font-weight-bold">Fecha:</span></div>
              <span class="ml-2">{{ venta.fecha_venta }}</span>
            </div>
            <div class="col-4">
              <img src="assets/logo_glass.png" class="img-fluid " height="128" width="128">
            </div>
          </div>
          <div class="invoice-body p-4">
            <table class="table">
              <thead class="bg-secondary text-white">
                <tr>
                  <th>Producto</th>
                  <th>Cantidad</th>
                  <th>Precio</th>
                  <th>Total</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let producto of venta.detalle_venta">
                  <td>{{ getNombreProducto(producto.id_producto) }}</td>
                  <td>{{ producto.cantidad }}</td>
                  <td>{{ producto.precio_unitario | currency }}</td>
                  <td>{{ producto.precio_total | currency }}</td>
                </tr>
                <tr class="font-weight-bold">
                  <td></td>
                  <td></td>
                  <td class="text-right">Total</td>
                  <td>{{ venta.total_venta | currency }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="invoice-footer text-right p-4 bg-light rounded-bottom text-end">
          <div class="col-12">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>